*
{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h1
{
    font-size: 50px;
}
/*Login e Registration*/
.form-insert
{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form
{
    width: 450px;
    margin: auto;
    border: gray solid 4px;
    border-radius: 10px;
    padding: 30px;
}
input
{
    display: block;
}
form input[type=email], form input[type=password], form input[type=date], form input[type=time], form select, form input[type=number], form input[type=text]
{
    width: 90%;
    height: 30px;
    border: 3px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 40px;
}
form input[type=email]
{
    background: url('./Assets/email.png') no-repeat scroll 5px 0px;
}
form input[type=password]
{
    background: url('./Assets/password.png') no-repeat scroll 5px 0px;
}
form input[type=checkbox]
{
    display: inline;
    margin-right: 5px;
}
form input[type=submit]
{
    width: 100%;
    padding: 3px;
    background-color: #31CA4A;
    border: solid green 3px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
form input[type=submit]:hover
{
    background-color: green;
    color: white;
}
.button-link
{
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.form-insert .button-link
{
    display: block;
    margin-top: 5px;
    width: 97.5%;
    background-color: red;
    border: solid darkred 3px;
    color: white;
}
span
{
    display: block;
}

/*Home*/
.header
{
    padding: 20px;
    display: flex;
    flex-direction: row;justify-content: flex-end;
}
.header .iscrizione
{
    margin-top: 5px;
    background-color: orange;
    border: solid darkorange 3px;
    color: white;
    margin: 0px 5px;
}
.header .risultati
{
    margin-top: 5px;
    background-color: #009999;
    border: solid #004d4d 3px;
    color: white;
    margin: 0px 5px;
}
.header .statistiche
{
    margin-top: 5px;
    background-color: #ff9966;
    border: solid #ff661a 3px;
    color: white;
    margin: 0px 5px;
}
.header .gestione
{
    margin-top: 5px;
    background-color: #cc0000;
    border: solid #800000 3px;
    color: white;
    margin: 0px 5px;
}
.header .creaTeam
{
    margin-top: 5px;
    background-color: gray;
    border: solid darkgray 3px;
    color: white;
    margin: 0px 5px;
}
.header .viewTeam
{
    margin-top: 5px;
    background-color: #005fcc;
    border: solid #000d80 3px;
    color: white;
    margin: 0px 5px;
}
.header .back
{
    margin-top: 5px;
    background-color: #cc0000;
    border: solid #800000 3px;
    color: white;
    margin: 0px 5px;
}
/*management*/
.header .crea
{
    margin-top: 5px;
    background-color: #009999;
    border: solid #004d4d 3px;
    color: white;
    margin: 0px 5px;
}
.header .whitelist
{
    margin-top: 5px;
    background-color: white;
    border: solid lightgray 3px;
    color: black;
    margin: 0px 5px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.a-icon img
{
    width: 50px;
    height: 50px;
}
[onClick] {
    cursor:pointer;
}
/*tournament*/
form select
{
    width: 100%;
}

form input[type=date]
{
    background: url(https://www.flaticon.com/svg/vstatic/svg/747/747310.svg?token=exp=1617210996~hmac=fca6b7a9d2818d502e67d3811283fbb3) no-repeat scroll 5px 0px;
}
form input[type=time]
{
    background: url(https://www.flaticon.com/svg/vstatic/svg/992/992700.svg?token=exp=1617211020~hmac=c24237b4d0158b6cee9107dce01f9a8b) no-repeat scroll 5px 0px;
}
form select, form input[type=number], form input[type=text]
{
    background: url(https://www.flaticon.com/svg/vstatic/svg/849/849944.svg?token=exp=1617211067~hmac=41fa8be3ab11da7c647f77fb9cdd758e) no-repeat scroll 5px 0px;
}