<!DOCTYPE html>
<html lang="it-IT">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Gestione Torneo</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="/Public/assets/images/logo.png">

        <!-- DataTables -->
        <link href="/Public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/Public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/Public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <link href="/Public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body class="main-content">        
        <div class="wrapper">
            <div class="container-fluid">
                <div class="card-body">                    
                    <a class="btn btn-outline-danger waves-effect waves-light" href="/management" role="button">Torna indietro</a>                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Nome Team</th>
                                            <th>Caposquadra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% teams.forEach(t => {%>
                                            <tr>
                                                <td><%= t.name %></td>
                                                <td><%= t.boss %></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div>
        </div>
        <!-- end wrapper-page -->
        <!-- jQuery  -->
        <script src="/Public/assets/js/jquery.min.js"></script>
        <script src="/Public/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/Public/assets/js/jquery.slimscroll.js"></script>
        <script src="/Public/assets/js/waves.min.js"></script>
        <script src="/Public/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/Public/assets/libs/simplebar/simplebar.min.js"></script>
        <!-- Required datatable js -->
        <script src="/Public/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/Public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="/Public/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/Public/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/Public/plugins/datatables/jszip.min.js"></script>
        <script src="/Public/plugins/datatables/pdfmake.min.js"></script>
        <script src="/Public/plugins/datatables/vfs_fonts.js"></script>
        <script src="/Public/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/Public/plugins/datatables/buttons.print.min.js"></script>
        <script src="/Public/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/Public/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/Public/plugins/datatables/responsive.bootstrap4.min.js"></script>
        <!-- Datatable init js -->
        <script src="/Public/assets/pages/datatables.init.js"></script>   
        <!-- App js -->
        <script src="/Public/assets/js/app.js"></script>
    </body>
</html>