<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/registration.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>COD WR</title>
</head>
<body>
    <div class="form-insert">
        <h1>Login</h1>
        <form action="/login" method="post" autocomplete="off">
            <% if(loginError) { %>
                <p style="color:red">Email o password sbagliati!</p>
            <% } %>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Accedi">
            Se non hai un account <a href="/registration">Registrati subito!</a>
        </form>
    </div>
</body>
</html>