<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COD WR</title>
</head>
<body>
    <form action="/login" method="post">
        <% if(loginError) { %>
            <p style="color:red">Username o password sbagliati!</p>
        <% } %>
        Username : 
        <input type="text" name="username" >
        Password : 
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <a href="/registration">Registrati subito!</a>
</body>
</html>