<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/registration.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Management</title>
</head>
<body>
    <div class="head">
        <a class="button-link crea" href="#">Crea Torneo</a>
        <a class="button-link whitelist" href="#">WhiteList</a>
    </div>
    <div class="table-managament">
        <table>
            <tr>
                <th>Inizio partita</th>
                <th>Fine Partita</th>
                <th>Partite Giocate</th>
                <th>Calcola</th>
                <th>Elimina</th>
                <th>Modifica</th>
                <th>Stato</th>
            </tr>
        </table>
    </div>
</body>
</html>