<!DOCTYPE html>
<html lang="it-IT">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>wztournaments</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="/Public/assets/images/logo.png">

        <!--Chartist Chart CSS -->
        <link rel="stylesheet" href="/Public/plugins/chartist/css/chartist.min.css">
        <link href="/Public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">
                    <!-- Logo container-->
                    <div class="logo">
                        <!--<img src="/Public/assets/images/logo.png" alt="" class="logo-large" height="60">
                        <img src="/Public/assets/images/logo.png" alt="" class="logo-small" height="60"> -->
                    </div>
                    <!-- End Logo container-->
                    <div class="menu-extras topbar-custom">
                        <ul class="navbar-right list-inline float-right mb-0">    
                            <!-- full screen -->
                            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                                <a class="nav-link" href="#" id="btn-fullscreen">
                                    <i class="mdi mdi-fullscreen noti-icon"></i>
                                </a>
                            </li>
                            <li class="dropdown notification-list list-inline-item">
                                <div class="dropdown notification-list nav-pro-img">
                                    <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                        <label><%= cookie.tag_username %></label>
                                        <img src="/Public/assets/images/users/user-4.jpg" alt="user" class="rounded-circle">                                        
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <!-- item-->
                                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5"></i> test </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                    </div>
                                </div>
                            </li>  
                            <li class="menu-item list-inline-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>

                        </ul>
                    </div>
                    <!-- end menu-extras -->
                    <div class="clearfix"></div>
                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <!-- MENU Start -->
            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <!-- ALREADY REGISTRATED -->
                            <% if(registrated) { %>
                                <li class="has-submenu">
                                    <a href="#"><i class="mdi mdi-account-alert"></i>Ti sei già iscritto</a>
                                </li>
                            <% } %>
                            <% if(foundTeam && !(registrated) && boss) { %>
                                <li class="has-submenu">
                                    <a href="/registrateTeam"><i class="mdi mdi-account-star"></i>Iscrizione Torneo</a>
                                </li>
                            <% } %>
                            <% if(cookie.admin === 'true') {%>
                                <li class="has-submenu">
                                    <a href="/management"><i class="ti-home"></i>Gestione Torneo</a>
                                </li>
                            <% } %>
                            <!-- TEAM NOT REGISTRATED AND USER IS BOSS -->
                            <% if(foundTeam) {%>
                                
                                <li class="has-submenu">
                                    <a href="/viewTeam/<%= foundTeam %>"><i class="mdi mdi-account-multiple"></i>Vedi Team</a>
                                </li>
                                <!--<li class="has-submenu">
                                    <a href="/teamRankings"><i class="mdi mdi-format-list-bulleted"></i>Classifiche Team</a>
                                </li>-->
                            <% } else { %>
                                <li class="has-submenu">
                                    <a href="/createTeam"><i class="mdi mdi-account-plus"></i>Crea Team</a>
                                </li>
                            <% } %>
                            <li class="has-submenu">
                                <a href="/globalRankings"><i class="mdi mdi-format-list-bulleted-type"></i>Classifica Globale</a>
                            </li>
                            <li class="has-submenu">
                                <form action="https://www.paypal.com/donate" method="post" target="_top">
                                    <input type="hidden" name="hosted_button_id" value="J3TT2YL2QUCJQ" />
                                    <input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                                    <img alt="" border="0" src="https://www.paypal.com/it_IT/i/scr/pixel.gif" width="1" height="1" />
                                </form>
                            </li>

                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="wrapper-page">
            <div class="card overflow-hidden account-card mx-5">
                <h1>🛠️Prossimamente🛠️</h1>
            </div>
        </div>
        <!-- jQuery  -->
        <script src="/Public/assets/js/jquery.min.js"></script>
        <script src="/Public/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/Public/assets/js/jquery.slimscroll.js"></script>
        <script src="/Public/assets/js/waves.min.js"></script>

        <!--Chartist Chart-->
        <script src="/Public/plugins/chartist/js/chartist.min.js"></script>
        <script src="/Public/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>

        <!-- peity JS -->
        <script src="/Public/plugins/peity-chart/jquery.peity.min.js"></script>

        <script src="/Public/assets/pages/dashboard.js"></script>
        
        <!-- App js -->
        <script src="/Public/assets/js/app.js"></script>

    </body>

</html>