<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/style.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <a class="button-link iscrizione" href="#">Iscrizione Torneo</a>
        <a class="button-link risultati" href="#">Risultati</a>
        <a class="button-link statistiche" href="#">Statistiche</a>
        <% if(cookie.admin === 'true') {%>
            <a class="button-link gestione" href="/management">Gestione Torneo</a>
        <% } %>
 
        <% if(foundTeam) {%>
            <a class="button-link viewTeam" href="/viewTeam/<%= foundTeam %>">Vedi Team</a>
            <a class="button-link " href="/teamRankings">Classifiche Team </a>
        <% } else { %>
            <a class="button-link creaTeam" href="/createTeam">Crea Team</a>
        <% } %>
        <a class="button-link " href="/globalRankings">Classifica Globale </a>

        
    </div>
</body>
</html>