<!DOCTYPE html>
<html lang="it-IT">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>wztournaments</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="/Public/assets/images/logo.png">

        <link href="/Public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body class="pb-0">        
        <div class="wrapper-page">

            <div class="card overflow-hidden account-card mx-3">
                
                <div class="bg-primary p-4 text-white text-center position-relative">
                    <h4 class="font-20 m-b-5">Benvenuto !</h4>
                    <p class="text-white-50 mb-4">Loggati per entrare a wztournaments</p>
                    <a href="#" class="logo logo-admin"><img src="/Public/assets/images/logo.png" height="60" alt="logo"></a>
                </div>
                <div class="account-card-content"> 
                    <% if(loginError) { %>
                        <div class="alert alert-danger m-t-20" role="alert">
                            <strong>Email</strong> o/e <strong> Password </strong> sbagliati!
                        </div>
                    <% } %>
                    <form class="form-horizontal m-t-30" action="/login" method="post" autocomplete="off">
                        <!-- email -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control inline" id="email" name="email" placeholder="pippo@domain.com">
                        </div>
                        <!-- password -->
                        <div class="form-group ">
                            <label for="password">Password</label>
                            <div class="row">
                                <div class="col-10 ">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                </div>
                                <div class="col-2">
                                    <span class="fas fa-eye" onclick="showOrHide()"></span>
                                </div>
                            </div>
                            
                        </div>
                        <!-- remember me -->
                        <div class="form-group row m-t-20">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="remember_me" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Ricordami</label>
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Accedi</button>
                            </div>
                        </div>
                        <div class="form-group m-t-10 mb-0 row">
                            <div class="col-12 m-t-20">
                                <a href="/requestResetPassword"><i class="mdi mdi-lock"></i> Hai dimenticato la password?</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <p>Non hai un account? <a href="/registration" class="font-500 text-primary"> Registrati ora </a> </p>
            </div>

        </div>
        <!-- end wrapper-page -->

        <!-- jQuery  -->
        <script src="/Public/assets/js/jquery.min.js"></script>
        <script src="/Public/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/Public/assets/js/jquery.slimscroll.js"></script>
        <script src="/Public/assets/js/waves.min.js"></script>

        <!-- App js -->
        <script src="/Public/assets/js/app.js"></script>

        <script type="text/javascript">
            function showOrHide(){
                var input = document.getElementById("password");
                var icon = document.getElementsByClassName("fas");
                if(input.attributes.getNamedItem("type").value === "password" && icon[0].className.includes("fa-eye")){
                    input.attributes.getNamedItem("type").value = "text";
                    icon[0].className = icon[0].className.replace("fa-eye","fa-eye-slash");
                } else {
                    input.attributes.getNamedItem("type").value = "password";
                    icon[0].className = icon[0].className.replace("fa-eye-slash","fa-eye");
                }
            }

        </script>

    </body>

</html>