<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>wztournaments</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="/Public/assets/images/favicon.ico">

        <link href="/Public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body class="pb-0">
        <div class="wrapper-page">
            <div class="card overflow-hidden account-card mx-3">
                <div class="bg-primary p-4 text-white text-center position-relative">
                    <h4 class="font-20 m-b-5">Registrazione gratis</h4>
                    <p class="text-white-50 mb-4">Ottienilo ora un account gratis</p>
                    <a href="index.html" class="logo logo-admin"><img src="/Public/assets/images/logo.png" height="60" alt="logo"></a>
                </div>
                <div class="account-card-content">  
                    <% if(registrationError) { %>
                        <div class="alert alert-danger m-t-20" role="alert">
                            <% if(registrationError === 'generic') { %>
                                Errore generico, riprova di nuovo!
                            <% } else %>
                            <% if(registrationError === 'email') { %>
                                Errore Email
                            <% } else %>
                            <% if(registrationError === 'password_cod') { %>
                                Errore password cod
                            <% } else %>
                            <% if(registrationError === 'password') { %>
                                Errore password
                            <% } else%>
                            <% if(registrationError === 'failed') { %>
                                Test login nel server di COD FALLITA! Errore Email e/o Password di Activision
                            <% } else %>
                            <% if(registrationError === 'exists_email') { %>
                                Esiste già questa email!
                            <% }else%>
                            <% if(registrationError === 'agree') { %>
                                Devi accettare il consenso di accedere al tuo account
                            <% }%>
                            <% if(registrationError === 'equalPassword') { %>
                                Le due password non sono uguali!
                            <% }%>
                        </div>
                    <%}%>
                    <form class="form-horizontal m-t-30" action="/registration" method="post">
                        <!-- email cod -->
                        <div class="form-group">
                            <label for="emailcod">Email</label>
                            <input type="email" class="form-control" required id="emailcod" name="email_cod" placeholder="Email di Activision">
                        </div>
                        <!-- password cod -->
                        <div class="form-group">
                            <label for="passwordcod">Password</label>
                            <input type="password" class="form-control" id="passwordcod" name="password_cod" placeholder="Password di Activision" required>
                        </div>
                        <!-- create new account activision -->
                        <div class="form-group">
                            <div class="alert alert-warning" role="alert">
                                Se non hai un account di Activision, clicca <a target="_blank" href="https://profile.callofduty.com/cod/signup" class="alert-link"><strong>qui</strong></a>
                            </div>
                        </div>
                        <!-- accetta i termini per la password cod -->
                        <div class="form-group">
                            <div class="col-sm-15">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="agree" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Sono d'accordo che potete accedere il mio account</label>
                                </div>
                            </div>
                        </div>
                        <!-- password sito -->
                        <div class="form-group">
                            <label>Seleziona la tua piattaforma</label>
                            <div class="col-sm-20">
                                <select class="form-control" name="platform" required>
                                    <option value="battle">Battle.net</option>
                                    <option value="psn">PlayStation</option>
                                    <option value="xbl">Xbox</option>
                                </select>
                            </div>
                        </div>
                        <!-- password sito -->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="row">
                                <div class="col-10 ">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password per il nostro sito" required>
                                </div>
                                <div class="col-2">
                                    <span class="fas fa-eye" onclick="showOrHide('password',0)"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password2">Ripeti Password</label>
                            <div class="row">
                                <div class="col-10 ">
                                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Ripeti la password" required>
                                </div>
                                
                                <div class="col-2">
                                    <span class="fas fa-eye" onclick="showOrHide('password2',1)"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-t-20">
                            <div class="col-12 text-right">
                                <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">Registrati</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="m-t-40 text-center">
                <p>Hai già un account ? <a href="/login" class="font-500 text-primary"> Login </a> </p>
            </div>
        </div>
        <!-- end wrapper-pags -->

        <!-- jQuery  -->
        <script src="/Public/assets/js/jquery.min.js"></script>
        <script src="/Public/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/Public/assets/js/jquery.slimscroll.js"></script>
        <script src="/Public/assets/js/waves.min.js"></script>
        <!-- Parsley js -->
        <script src="/Public/plugins/parsleyjs/parsley.min.js"></script>
        <!-- App js -->
        <script src="/Public/assets/js/app.js"></script>
        <script type="text/javascript">
            function showOrHide(elementID, n){
                var input = document.getElementById(elementID);
                var icon = document.getElementsByClassName("fas");
                if(input.attributes.getNamedItem("type").value === "password" && icon[n].className.includes("fa-eye")){
                    input.attributes.getNamedItem("type").value = "text";
                    icon[n].className = icon[n].className.replace("fa-eye","fa-eye-slash");
                } else {
                    input.attributes.getNamedItem("type").value = "password";
                    icon[n].className = icon[n].className.replace("fa-eye-slash","fa-eye");
                }
            }

        </script>
    </body>

</html>