<!DOCTYPE html>
<html lang="it-IT">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Stai cambiando password</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="/Public/assets/images/logo.png">

        <!-- DataTables -->
        <link href="/Public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/Public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/Public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <link href="/Public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body class="main-content">
        <form action="/requestResetPassword/<%= authTokenResetPassword %>" method="post">
            <div class="row justify-content-center align-self-center">
                <div class="card col-lg-3 mt-5">
                    <h4 class="card-header font-16 mt-0">Stai per cambiare la tua password</h4>
                    <div class="card-body">
                        <% if (error === "401") { %>
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    Il link non esiste oppure non è più valido
                                </div>
                            </div>
                        <% } else { %>
                            
                            <% if (error === "password") { %>
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        Le due password non coincidono
                                    </div>
                                </div>
                            <% } %>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label for="password2">Ripeti Password</label>
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Ripeti password" required>
                            </div>
                            <input type="hidden" name="uno" value="<%= uno %>">
                            <input class="btn btn-primary waves-effect waves-light" type="submit" value="Conferma">
                        <% } %>
                        <a class="btn btn-secondary waves-effect waves-light" href="/home" role="button">Torna indietro</a>
                    </div>
                </div>
            </div>
        </form>     
        <!-- end wrapper-page -->
        <!-- jQuery  -->
        <script src="/Public/assets/js/jquery.min.js"></script>
        <script src="/Public/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/Public/assets/js/jquery.slimscroll.js"></script>
        <script src="/Public/assets/js/waves.min.js"></script>
        <script src="/Public/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/Public/assets/libs/simplebar/simplebar.min.js"></script>
        <!-- Datatable init js -->
        <script src="/Public/assets/pages/datatables.init.js"></script>   
        <!-- App js -->
        <script src="/Public/assets/js/app.js"></script>
    </body>
</html>